h1 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: normal;
            text-align: center;

}
h2 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: normal;
            text-align: center;
            margin-left: 170px;
            margin-right: 170px;
}

h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: normal;
            text-align: left;
}

h4 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: normal;
            text-align: center;
}


div.text {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.bloque {
            margin-left: 40px;
            margin-right: 40px;
}

#viz1,#viz2,#viz3{
width: 500px;
height: 300px;
}